# A Heat environment file which can be used to enable a
# a Cisco Apic GBP/ML2, configured via puppet
resource_registry:
    OS::TripleO::Tasks::ControllerPreConfig: /opt/aci-tripleo-patch/puppet/cisco-apic.yaml
    OS::TripleO::Tasks::ComputePreConfig: /opt/aci-tripleo-patch/puppet/cisco-apic.yaml

parameter_defaults:
  ACIApicIp: '10.30.120.140'
  ACIApicUser: 'admin'
  ACIApicPassword: 'noir0123'
  ACIApicInfraVlan: 4093
  ACIOpflexPeerIp: '10.0.0.30'
  ACIOpflexRemoteIp: '10.0.0.32'
  ACIOpflexOVSBridge: 'br-int'
  ACIOpflexUplinkInterface: 'nic2'
  ACIApicSystemId: 'openstack_aci'
  ACIApicEntityProfile: 'f-aep'
  ACIOpflexEncapMode: 'vlan'
  ACIUseLLDPDiscovery: 'true'
  ACIOpflexOptimizedMetadata: 'true'
  ACIOpflexMechanism: 'cisco_apic_ml2'
