resource_registry:
    OS::TripleO::Tasks::ComputePostConfig: /opt/aci-tripleo-patch/puppet/apic_puppet.yaml
    OS::TripleO::Tasks::ControllerPostConfig: /opt/aci-tripleo-patch/puppet/apic_puppet.yaml
parameter_defaults:
  ConfigDebug: True
  DeployIdentifier: abc

